name: Playwright Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.2-noble

    steps:
      # 1️⃣ Checkout code
      - uses: actions/checkout@v5

      # 2️⃣ Setup Node
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4️⃣ Install Playwright Browsers
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # 5️⃣ Run Playwright tests with HTML report
      - name: Run Playwright tests
        run: npx playwright test --reporter=html
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{ secrets.PASSWORD }}

      # 6️⃣ Upload HTML report as artifact
      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-html-report
          path: playwright-report/
          retention-days: 30